<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="main_container">
        <div class="child_container">
          <div class="form-outline">
            <input type="text" id="form12" class="form-control" />
            <label class="form-label" for="form12">Example label</label>
          </div>

          <div class="form-outline">
            <input type="text" id="form12" class="form-control" />
            <label class="form-label" for="form12">Example label</label>
          </div>

          <div class="form-outline">
            <input type="text" id="form12" class="form-control" />
            <label class="form-label" for="form12">Example label</label>
          </div>

          <div class="form-outline">
            <input type="text" id="form12" class="form-control" />
            <label class="form-label" for="form12">Example label</label>
          </div>

          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>
      <div class="post_warpper">
        <div class="left">
          <img
            src="https://a0.muscache.com/im/pictures/701d7170-3365-4b75-a255-39feebed95de.jpg?im_w=1200"
          />
        </div>
        <div class="right">
          <h3>Try Posting</h3>
          <p>
            Options like self check-in or booking an entire home allow you to
            interact with your host mainly through in-app messaging – you can
            message them anytime if something comes up.
          </p>
          <hr />
          <p>
            Almost anyone can be a host of a stay or an experience. It's free to
            sign up and share either your space or your skills with the world.
            To get started, visit our Host Centre.
          </p>

          <button
            type="button"
            class="btn btn-outline-secondary btn-rounded"
            data-mdb-ripple-color="dark"
          >
            Post Your Requirtments Here
          </button>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
    ></script>
  </body>
</html>
