<div class="card container main">
  <div class="card-body">
    <form action="/create" method="POST">
      <!-- Name Input -->
      <div class="form-outline mb-4">
        <input
          type="text"
          id="form1Example1"
          class="form-control"
          name="name"
        />
        <label class="form-label" for="form1Example1">Name</label>
      </div>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          id="form1Example2"
          class="form-control"
          name="email"
        />
        <label class="form-label" for="form1Example2">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="form1Example3"
          class="form-control"
          name="password"
        />
        <label class="form-label" for="form1Example3">Password</label>
      </div>

      <!-- Confirm password  -->

      <div class="form-outline mb-4">
        <input
          type="password"
          id="form1Example4"
          class="form-control"
          name="confirmPassword"
        />
        <label class="form-label" for="form1Example4">Repeat Password</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="form1Example3"
              checked
            />
            <label class="form-check-label" for="form1Example3">
              Remember me
            </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
  </div>
</div>
